<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Sing Up | BANKARI</title>
  <link rel="shortcut icon" href="./assets/Images/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="sweetalert2.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="./assets/styles.css">
</head>
<body>
  
<div id="app">
  <div class="container">
      <section id="formHolder">
        <div class="row">
          <div class="col-sm-6 brand">
              <div class="heading">
                <img class="bankari" src="./assets/Images/BANKARI.png" alt="">
                <p>Sign Up</p>
              </div>
          </div>
          <div class="col-sm-6 form">
              <div class="signup form-peice">
                <form class="signup-form"  @submit.prevent="addClient">

                    <div class="form-group">
                      <input type="text" required class="form-control mt-2" v-model="firstName" placeholder="Name" aria-label="Username">
                    </div>

                    <div class="form-group">
                      <input type="text" required class="form-control mt-2" v-model="lastName" placeholder="Last Name" aria-label="Username">
                    </div>

                    <div class="form-group">
                      <input type="email" required class="form-control mt-2" v-model="email" class="email" placeholder="Email Adderss" >
                    </div>

                    <div class="form-group">
                      <input type="password" required class="form-control mt-2" v-model="password"  placeholder="Password" class="pass" >
                    </div>

                    
                    
                    
                      
                    
                    

                    <div class="CTA">
                      <button> Sing UP</button>
                      <a href="./login.html" class="ms-4 mt-2 letra">I have an account</a>
                    </div>
                    <div class="mt-5">
                      <p class="letra">Join us, create an account here</p>
                    </div>
                    <a href="./index.html" class=" mt-2 letra">RETURN HOME...</a>
                </form>
              </div>
              
          </div>
        </div>

    </section>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script  src="./script/signup.js"></script>

</body>
</html>
